.card-list {
  display: flex;
  padding: 6rem;
  overflow: hidden;
}

.card {
  height: 550px;
  width: 600px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:focus-within ~ .card,
.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-header {
  margin-bottom: auto;
}

.card-header h2 {
  font-size: 2rem;
  margin: 0.25em 0 auto;
  text-decoration: none;
  color: white;
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg, var(--clr-pink), var(--clr-yellow));
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card-button {
  margin-top: 1.75em;

  a {
    background: white;
    font-size: 1.25rem;
    padding: 0.5em 1.5em;
    border-radius: 50px;
    display: inline-block;
    color: black;
  }
}
