.card-list {
  display: flex;
  padding: 6rem;
  overflow: hidden;
}

.card {
  height: 500px;
  width: 600px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;

  &-logo {
    margin-bottom: 2em;
  }
}

.card:hover {
  transform: translateY(-1rem);
}

.card:focus-within ~ .card,
.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-header {
  margin-bottom: auto;
}

.card-header h2 {
  font-size: 2rem;
  margin: 0.25em 0 auto;
  text-decoration: none;
  color: white;
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg, var(--clr-pink), var(--clr-yellow));
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card-button {
  margin-top: 1.75em;
  position: relative;

  a {
    background: linear-gradient(90deg, var(--clr-pink), var(--clr-yellow));
    font-size: 1.75rem;
    padding: 1em;
    border-radius: 50px;
    display: inline-flex;
    color: white;
    position: absolute;
    left: 38px;
    top: -48px;

    &:hover {
      width: 3em;
      height: 3em;
      background: linear-gradient(90deg, var(--clr-pink), var(--clr-yellow));
      background-size: cover;
      animation: animateBlob 3s infinite;
    }
  }
}

@keyframes animateBlob {
  0%,
  100% {
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
  }

  25% {
    border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
  }

  50% {
    border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
  }

  75% {
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
}
