.nav {
  display: flex;
  padding: 2em;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  background-color: var(--clr-light-green);
  align-items: center;
  justify-content: space-between;

}
.nav-2{
  display: flex;
  padding: 2em;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  background-color: var(--clr-light-green);
  align-items: center;
  justify-content: space-between;
    padding-bottom: 0px;
  padding-top: 10px;
}

.nav__play {
  position: relative;
  padding: 0.25em;
  text-align: center;

  a {
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    color: var(--clr-dark-green);
    position: absolute;
    transition: 400ms;
    top: -18px;
    right: -25px;

    &:hover {
      color: var(--clr-yellow);
      position: absolute;
      top: -20px;
      right: -27px;
      font-size: 2.1rem;
      animation: rainbow-play 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  &__btn {
    font-size: 2rem;
  }
}

.nav__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  color: var(--clr-dark-green);

  span {
    position: relative;
    margin-left: 5px;
    top: -4px;
  }

  span:hover {
    cursor: pointer;
    color: var(--clr-yellow);
    animation: rainbow-play 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.nav__logo{
  font-size: 20px;
  font-weight:bolder;
  color: var(--clr-yellow);
  animation: rainbow-play 10s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
}

.user-rating{
      display: flex;
    flex-direction: column;
    align-items: end;
    color: black;
}

@keyframes rainbow-play {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
