.gameDivContainer {
  display: grid;
  height: 100%;
  align-content: center;
  grid-template-columns: 2fr 1fr;
  background: linear-gradient(60deg, #ee7752, #e73c7e, #23a6d5, #134dd4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.winlosstiecontainer {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 20px;
}

.daddyContainerDiv {
  place-self: end;
  position: relative;
}

.containerDiv {
  display: flex;
  align-items: flex-end;
}

.endGameMess {
  // position: relative;
  position: absolute;
  align-items: center;
  left: 33%;
  display: flex;
  flex-direction: column;
}
#winMsg {
  font-variant-caps: small-caps;
  font-size: 40px;
  color: white;
}
.rematchbtn {
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: 0px 0px 8px 8px #ffffff25;
  color: black;
  padding: 10px;
  padding-inline: 30px;
  font-size: 30px;
  cursor: pointer;
  transform: scale(1);
  transition-duration: 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  width: 250px;
  margin: auto;
}
.rematchbtn:hover {
  transform: scale(1.06);
  transition-duration: 0.3s;
}
.rematchbtn:focus {
  outline: none;
}
.fall {
  animation-name: fall-animation;
  animation-duration: 500ms;
}
@keyframes fall-animation {
  from {
    transform: translateY(-1000%);
  }
  to {
    transform: translateY(0%);
  }
}
.red {
  background-color: var(--clr-pink);
}
.yellow {
  background-color: var(--clr-yellow);
}
.hoveredred {
  background-color: #fda3c1;
}
.hoveredyellow {
  background-color: #ffffae;
}
.hovered {
  background-color: #ffffff8c;
}
.currentPlayer,
.winMsg {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
