.leaderboard-info-top1 {
  color: #f0ff1c;
  font-size: 30px;
  // background-color: #1d96be;
  background-image: linear-gradient(rgb(151, 243, 255), #1d96be);
  margin-block: 20px;
  align-items: center;
  line-height: 72px;
  border: 4px solid #1b8fb6;
  box-shadow: 0px 0px 8px 8px #ffffff25;
}
.leaderboard-info-top1:hover {
  color: white;
  background-color: #24a6d1;
  box-shadow: 0px 0px 8px 8px #ffffff91;
  cursor: pointer;
}
.leaderboard-info-top2 {
  color: #dddddd;
  font-size: 30px;
  // background-color: #1d96be;
  background-image: linear-gradient(rgb(151, 243, 255), #1d96be);
  margin-block: 20px;
  align-items: center;
  line-height: 72px;
  border: 4px solid #1a8aaf;
  box-shadow: 0px 0px 8px 8px #ffffff25;
}
.leaderboard-info-top2:hover {
  color: white;
  background-color: #24a6d1;
  box-shadow: 0px 0px 8px 8px #ffffff91;
  cursor: pointer;
}
.leaderboard-info-top3 {
  color: #a05e3f;
  font-size: 30px;
  // background-color: #1d96be;
  background-image: linear-gradient(rgb(151, 243, 255), #1d96be);
  margin-block: 20px;
  align-items: center;
  line-height: 72px;
  border: 4px solid #1a8aaf;
  box-shadow: 0px 0px 8px 8px #ffffff25;
}
.leaderboard-info-top3:hover {
  color: white;
  background-color: #24a6d1;
  box-shadow: 0px 0px 8px 8px #ffffff91;
  cursor: pointer;
}
.leaderboard-info1 {
  color: #cccccc;
  font-size: 30px;
  // background-color: #1b8fb6;
  background-image: linear-gradient(rgb(93, 200, 214), #1b8fb6);
  margin-block: 20px;
  align-items: center;
  line-height: 72px;
  border: 4px solid #1a8aaf;
  box-shadow: 0px 0px 8px 8px #00000023;
  .usernames {
    margin-left: 30px;
  }
}
.leaderboard-info1:hover {
  color: white;
  background-color: #1d96be;
  cursor: pointer;
}
.rankers {
  display: flex;
  flex-direction: row-reverse;
}
.crown {
  position: relative;
  top: -1px;
  right: 33px;
}
.LinfoI {
  font-size: 46px;
  color: white;
  text-shadow: 0px 0px 5px #ffffff91;
}
.LinfoR {
  font-size: 46px;
  color: white;
  text-shadow: 0px 0px 5px #ffffff91;
}
.outer-leaderboard {
  background-color: transparent;
  padding: 30px;
}
.ranks {
  background-color: #1a8aaf;
  height: 72px;
  width: 72px;
  align-items: center;
  text-align: center;
  text-shadow: 0px 0px 5px #ffffff91;
}
.ratings {
  position: absolute;
  left: 67%;
  text-shadow: 0px 0px 5px #ffffff67;
}
.leaderboard-info-top1:hover .usernames {
  color: white;
}
.leaderboard-info-top2:hover .usernames {
  color: white;
}
.leaderboard-info-top3:hover .usernames {
  color: white;
}
.leaderboard-info1:hover .usernames {
  color: white;
}
.leaderboardContainerdiv {
  background-image: url("./star2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
