*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --clr-dark-green: #073b4c;
  --clr-blue: #118ab2;
  --clr-light-green: #06d6a0;
  --clr-yellow: #ffd166;
  --clr-pink: #ef476f;
  --font-family: "DM Mono", monospace;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #073b4c;
  font-family: "DM Mono", monospace;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.board {
  background-color: rgb(44, 44, 212);
  display: inline-block;
  min-width: 560px;
}

.col {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
}

.outer-chatbox {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 75%;
  top: -545px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 360px;
  opacity: 0.5;
  background: black;
  color: white;
}

.outer-leaderboard{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.chat-input{
  outline:none;
  height:28px;
  width: 90%;
  background:black; 
  color:white;
  padding-left: 13px;
  border:0px solid black;
}

.chat-content{
      display: flex;
    margin-top: 0px;
    font-size: 15px;
    margin-left: 4px;
    margin-bottom: 5px;
      font-family: fantasy;
    font-weight: bold;
    font-size: 16px;
}

.chat-emoji{
  position:relative;
  top:6px;
  left:5px;
}
.chat-emoji:hover{
  cursor:pointer;
}

.chat-form:focus-within{
  box-shadow: 0px 0px 3px 3px lightblue;
}