body {
  overflow: hidden;
}

.github {
  position: absolute;
  bottom: 110px;
  left: 50px;

  &__bg,
  &__button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
  }
}

.github__bg {
  animation: pulse 1.2s ease infinite;
  background: var(--clr-light-green);
}

.github__button {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  border: none;
  background: var(--clr-light-green);
  cursor: pointer;
  outline: none;
}

.github__button a {
  color: #fff;
  font-size: 4rem;
  height: 4rem;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
